<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- INIT COMMENT - DCO - MENU DE LA IZQUIERDA -->
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">
<!-- DCO Importamos estilos compartidos. No sé por qué no funciona y hay que poner los estilos de la cabecera abajo -->
<link rel="import" href="shared-styles.html">
<!-- Como lo de arriba no funciona hay que poner esto -->
<link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans" rel="stylesheet">

<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-transferencia.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">
<!-- DCO
import de login-usuario en el front
-->
<link rel="lazy-import" href="my-loginusuario.html">
<link rel="lazy-import" href="my-visorcuentas.html">
<link rel="lazy-import" href="my-visormovimientos.html">
<link rel="lazy-import" href="my-visorctavalores.html">


<!-- DCO
     Componente raíz, padre de todos los componentes de la aplicación
     Renombrado de my-app
-->
<dom-module id="front-practitionerapp">
  <template>
    <style>
      :host {
        --app-primary-color: #04408f;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 10px;
      }
      /*
      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      */
      .header-main-title
      {
          font-family:    'Abel', Tahoma, sans-serif;
          font-size:      36px;
          text-align: left;
          padding: 1px 1px 1px 30px;
          height: 1.5em;
      }
      .opsh {
        padding: 1px 50px 1px 30px;
        font-family: 'Open Sans', sans-serif;
      }
      input[type=checkbox] {
        transform: scale(1.5);
      }
      button
      {
        background: #287cba;
        background: -moz-linear-gradient(top,  rgba(40,124,186,1) 0%, rgba(0,101,183,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(40,124,186,1) 0%, rgba(0,101,183,1) 100%);
        background: -o-linear-gradient(top,  rgba(40,124,186,1) 0%, rgba(0,101,183,1) 100%);
        background: -ms-linear-gradient(top,  rgba(40,124,186,1) 0%, rgba(0,101,183,1) 100%);
        background: linear-gradient(top,  rgba(40,124,186,1) 0%, rgba(0,101,183,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072c9', endColorstr='#287cba',GradientType=0 );
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
        -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
        -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
        border: 1px solid #04408f;
        color: #ffffff;
        cursor: pointer;
        font: bold 15px Verdana, Arial, sans-serif;
        height: 35px;
        margin: 20px 0 20px 15px;
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
      }
      button:hover{
        background: rgb(82,188,236);
        background: -moz-linear-gradient(top,  rgba(82,188,236,1) 0%, rgba(0,101,183,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(82,188,236,1) 0%, rgba(0,101,183,1) 100%);
        background: -o-linear-gradient(top,  rgba(82,188,236,1) 0%, rgba(0,101,183,1) 100%);
        background: -ms-linear-gradient(top,  rgba(82,188,236,1) 0%, rgba(0,101,183,1) 100%);
        background: linear-gradient(top,  rgba(82,188,236,1) 0%, rgba(0,101,183,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52BCEC', endColorstr='#0072C9',GradientType=0 );
      }
    </style>

<!--DCO
  app-route define decalrativamente las rutas para una aplicación, trabaja con app-location
  app-location produce un objeto route

  app-route consume un objeto que descriibe un estado acerca del nodo actual en la propiedad "route"
  parsea el estado usando la propiedad pattern
  produce data como un objeto relacionado con route y tail como el sobrante que no matchea con el patron

  https://www.webcomponents.org/element/PolymerElements/app-route

-->

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <!-- Elemento mas externo, incluye toda la información de la aplicación -->
    <!--Add the fullbleed attribute to app-drawer-layout to make it fit the size of its container:-->
    <!-- Returns true if it is in narrow layout. This is useful if you need to show/hide elements based on the layout. -->

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Con esto evitamos que aparezca el menu de la izquierda
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="loginusuario" href="[[rootPath]]loginusuario">Login usuario</a>
          <a name="view1" href="[[rootPath]]view1">View One</a>
          <a name="view2" href="[[rootPath]]view2">View Two</a>
          <a name="view3" href="[[rootPath]]view3">View Three</a>
        </iron-selector>
      </app-drawer>
      -->

      <!-- Main content -->
      <!-- app-header-layout is a wrapper element that positions an app-header
      and other content. This element uses the document scroll by default,
      but it can also define its own scrolling region.
      hasScrollingRegion: If true, the current element will have its own
      scrolling region. Otherwise, it will use the document scroll to control the header.
      -->
      <app-header-layout has-scrolling-region>
        <!--
        app-header is container element for app-toolbars at the top of the screen
        that can have scroll effects. By default, an app-header moves away from the
        viewport when scrolling down and if using reveals, the header slides
        back when scrolling back up.
        -->
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <!-- Quitamos la hamburguesa
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            -->
            <embed class="logo-position" src="../images/logoBBVA.svg" width="150" height="50" type="image/svg+xml"/>
            <div class="header-main-title" main-title>Proyecto practitioner bootcamp</div>
            <div class="opsh">
            <input id="openshift" type="checkbox" name="openshift" on-change="setApiSource"/>
                  Openshift
            </div>

            <button type="button" title="Entrar" on-click="irPantallaLogin" hidden$={{logado}}>
              Entrar
            </button>
            <button type="button" title="Hazte Cliente" on-click="crearUsuario" hidden$={{logado}}>Hazte Cliente</button>
            <button type="button" title="Salir" on-click="logout" hidden$={{!logado}}>Salir</button>
          </app-toolbar>
        </app-header>

        <!--DCO
          iron-pages

        -->
        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <!-- DCO metemos nuestro login dentro de iron-pages -->
          <!-- Cuando el componente my-loginusuario dispara el evento "logado"
               se ejecuta el código del método "procesarLogado"
          -->
          <my-loginusuario id="lgu" name="loginusuario" on-logado="procesarLogado"></my-loginusuario>
          <my-visorcuentas id="vsc" name="visorcuentas"
            on-movimientos="visualizarMovimientos"
            on-transfer="hacerTransferencia"
            on-detallectaval="visualizarDetalleCtaVal">
          </my-visorcuentas>
          <my-visorctavalores id="vsval" name="visorctavalores" on-volvercuentas="visualizarCuentas"></my-visorctavalores>
          <my-visormovimientos id="vsm" name="visormovimientos" on-volvercuentas="visualizarCuentas"></my-visormovimientos>
          <my-logout id="lou" name="logout" on-volverlogout="volverLogout"></my-logout>
          <my-crearusuario id="cru" name="crearusuario" on-backcreateuser="vueltaCrearUsuario"></my-crearusuario>
          <my-view1 name="view1"></my-view1>
          <my-transferencia id="trf" name="transferencia" on-volvercuentas="visualizarCuentas"></my-transferencia>
          <!--<my-view3 name="view3"></my-view3>-->
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class FrontPractitionerapp extends Polymer.Element {
      static get is() { return 'front-practitionerapp'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
            /*
            In specific cases, it may be useful to keep an HTML attribute value
            in sync with a property value. This may be achieved by setting
             reflectToAttribute: true on a property in the properties configuration object.
             This will cause any observable change to the property to be serialized
             out to an attribute of the same name.
            */
          },
          //Propiedad del padre para mantener en todo momento el id cliente logado
          idclientelogado:{
            type: Number,
            default: 0
          },
          // Indica si vamos por Openshift o no...
          //,          default: "http://localhost:3000/"
          baseurl: {
            type: String
          },
          // Boolean para mantener el logado y ocultar / mostrar botones
          logado:{
            type:Boolean,
            default:false
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }
      // Constructor para ocultar el boton de salir
      constructor() {
        super();
        this.logado = false
        this.baseurl = "http://localhost:3000/"
      }
      /*
      Observer llamado cada vez que la propiedad routeData.page cambia
      */
      _routePageChanged(page) {

        /* DCO
        Página por defecto la de bienvenida
        Aunque pongamos http://127.0.0.1:8081/dsfdasg en el navegador siempre
        va a ir a my-view1
        Asi tenemos siempre un unico punto de entrada y nunca tenemos un 404
        O lo que es peor, nos entran directamente en la página de transferencia
        sin pasarle ningun parámetro
        */
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        // this.page = page || 'view1';
        this.page = 'view1';

        console.log("Entramos en el observer '_routePageChanged(page)'")
        console.log("Valor de page:", page)
        console.log("Valor de this.page:", this.page)
        //console.log("routeData: ",routeData)
        //console.log("subroute: ",subroute)
        //console.log("rootPath: ",rootPath)


        // Close a non-persistent drawer when the page & route are changed.
        /*
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
        */

      }
      /*
      DCO este método es llamado cada vez que la propiedad page cambia
      Es lo primero que ejecuta cuando lanzamos polymer serve --open o bien
      usamos "polymer serve" a secas, y ponemos http://127.0.0.1:8081/ en el
      navegador

      Es decir, lo primero que se dispara es el observer sobre la propiedad "page"

      Lo que hace este método es mandarte a la página 404 si lo que informas al
      navegador no corresponde a uno de los componentes debajo de src
      */
      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        //this.baseurl = "http://localhost:3000/"
        console.log("_pageChanged(page): resolvedPageUrl: ", resolvedPageUrl)
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

      // DCO - Método que se lanzará en el momento de que se procese el logado
      procesarLogado(e){
       console.log("Padre recibe login")
       // El login envía el Id en el dispatch del evento
       this.idclientelogado = e.detail.id
       console.log("e.detail.id = this.idclientelogado:", this.idclientelogado)
       // Una vez logados, nos vamos a la página de cuentas
       // previamente le pasamos en la propiedad idcliente de la clase VisorCuentas
       // el parámetro id
       // Que almacena el id de usuario
       this.$.vsc.idcliente = this.idclientelogado
       this.$.vsc.urlironajaxctas = this.baseurl + "apitechu/v5/cuentas"
       this.$.vsc.urlironajaxctasvalores = this.baseurl + "apitechu/v5/cuentas_valores"
       this.$.vsc.launch_request = true
       this.logado = true
       this.page = "visorcuentas"
     }
     // Método que llama al componente que visualiza los movimientos
     // Se lanzará en el evento on-movimientos que se lanza al pulsar el
     // botón Ver Movimientos en my-visorcuentas.html
     visualizarMovimientos(e){
        console.log("Padre recibe evento de visualizar movimientos")
        console.log("IBAN RECIBIDO: ", e.detail.iban)
        // inicializamos la propiedad iban de my-visormovimientos
        this.$.vsm.iban = e.detail.iban;
        this.$.vsm.urlironajax = this.baseurl + "apitechu/v5/lista_movimientos"
        this.page = "visormovimientos"
        //this.page = "view3"

     }
     // Se ejecuta al pulsar el botón de ver movmientos
     // Confía en la propiedad "idclientelogado"
     visualizarCuentas (e){
        this.$.vsc.idcliente = this.idclientelogado
        this.$.vsc.urlironajaxctas = this.baseurl + "apitechu/v5/cuentas"
        this.$.vsc.urlironajaxctasvalores = this.baseurl + "apitechu/v5/cuentas_valores"
        this.$.vsc.launch_request = true
        this.page = "visorcuentas"
     }
     // Se ejecuta al pulsar el boton "Entrar"
     irPantallaLogin() {
       console.log("irPantallaLogin()")
       this.$.lgu.urlironajax =  this.baseurl + "apitechu/v5/usuarios/login"
       this.page = "loginusuario"
     }
     // Se ejecuta al pulsar "Hazte cliente"
     crearUsuario() {
       console.log("crearUsuario()")
       //reseteamos  el estado del componente
       this.$.cru.mostrarformlogin=true
       this.$.cru.mostrarresultadocreacionusuario=false
       this.$.cru.dni = ""
       this.$.cru.first_name = ""
       this.$.cru.last_name = ""
       this.$.cru.login = ""
       this.$.cru.sex = ""
       this.$.cru.country = ""
       this.$.cru.password = ""
       this.$.cru.urlironajax =  this.baseurl + "apitechu/v5/usuarios"
       this.page = "crearusuario"
     }
     // Se ejecuta al pulsar el botón "Salir"
     // Llama las componente my-logout
     logout()
     {
       console.log("logout()")
       this.$.lou.id = this.idclientelogado
       this.$.lou.urlironajax =  this.baseurl + "apitechu/v5/usuarios/logout"
       //this.idclientelogado = 0
       //this.logado = false
       this.page = 'logout'
     }
     // Se ejecuta a la vuelta del componente "my-loogut"
     // Independientemente de si el logout ha sido correcto o no deja el padre
     // en el estado previo al login
     volverLogout(){
       console.log("volverLogout()")
       this.idclientelogado = 0
       this.logado = false
       // Y ahora resetamos el login a su estado inicial.
       // Si no hacemos esto el padre se queda en estado "no logado"
       // pero el componente "my-loginusuario se queda en estado "logado"
       this.$.lgu.login = ""
       this.$.lgu.password = ""
       this.$.lgu.logado = false
       this.$.lgu.errorlogin = false
    }
    vueltaCrearUsuario(){
       console.log("vueltaCrearUsuario()")
       this.$.cru.dni = ""
       this.$.cru.first_name = ""
       this.$.cru.last_name = ""
       this.$.cru.login = ""
       this.$.cru.sex = ""
       this.$.cru.country = ""
       this.$.cru.password = ""
       this.$.cru.password_rep = ""
       // Volvemos a pagina incial
       this.page = "view1"
    }
    hacerTransferencia(e) {
      console.log("hacerTransferencia()")
      console.log("e.detail:",e.detail)
      // Pasamos las cuentas al componente para que las muestre en un combo
      this.$.trf.cuentas = e.detail
      this.$.trf.iban_origen = ""
      this.$.trf.iban_destino = ""
      this.$.trf.benef = ""
      this.$.trf.importe = 0
      this.$.trf.urlironajax = this.baseurl + "apitechu/v5/crear_movimiento"
      this.page = "transferencia"
    }
    visualizarDetalleCtaVal(e){
       console.log("Padre recibe evento de visualizar Detalle Cta Valores")
       console.log("Datos de cta valores recibidos: ", e.detail)
       // inicializamos la propiedad
       this.$.vsval.datoscta = e.detail;
       this.$.vsval.urlironajax = this.baseurl + "apitechu/v5/cuentas_valores_detalle"
       this.page = "visorctavalores"
    }
    setApiSource (e){
       console.log("Check cambia")
       var shadowroot = this.shadowRoot
       var check = shadowroot.getElementById('openshift')
       if (check.checked) {
         this.baseurl = "http://apiv2route-apitechuv2.7e14.starter-us-west-2.openshiftapps.com/"
         //Ruta openshift: http://apiv2route-apitechuv2.7e14.starter-us-west-2.openshiftapps.com
       } else {
         this.baseurl = "http://localhost:3000/"
       }
       console.log("baseurl ->", this.baseurl)
    }
  }
    window.customElements.define(FrontPractitionerapp.is, FrontPractitionerapp);
  </script>
</dom-module>
