<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- DCO Importamos iron-ajax-->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<!-- DCO Importamos estilos compartidos -->
<link rel="import" href="shared-styles.html">


<dom-module id="my-crearusuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 25px 150px 75px 150px;
        text-align: center;

      }
      .centrar_form {
        display: inline-block;
        padding: 10px;
        width: 80%;
        /*background-color: azure;*/
      }

      input{
        width: 75%;
      }

      .span_label {
        padding: 10px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        color: rgb(102,102,102);
        /*padding: 5px;
        border:1px solid red;*/
        text-align: left;
        width: 78%;
      }
      .error {
        position: relative;
        z-index: 1;
        padding: 10px;
        border-radius: 10px;
        color: white;
        width: 235px;
        text-align: center;
        font-size: 12px;
        background: RGB(194, 46, 79);
      }
      .error::after {
          content: '';
          border-bottom: 15px solid RGB(194, 46, 79);
          border-right: 15px solid transparent;
          border-left: 15px solid transparent;
          position: absolute;
          left: 45%;
          top: -14px;
      }
      table, tr, td {
        border: 0;
      }
      tr:hover {
        background-color: transparent;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>

    <!--
    Llamada al servicio de Creación de usuario de la API
    -->
    <iron-ajax id="CrearUsuario"
               url="{{urlironajax}}"
               method = "POST"
               handle-as="json"
               on-response="MostrarResultadoCrearUsuario"
               on-error="MostrarErrorCrearUsuario">
    </iron-ajax>

    <!--
    Componente para login
    Los estilos los dejamos para el final

    Si no ponermos el "::input" no funciona, lo que hace es dar valor
    a los atributos email y password con lo que el usuario teclee en el input
    -->
    <div class="card" hidden$="{{!mostrarformlogin}}">
      <div class="centrar_form">
        <h1>Introduce tus datos personales...</h1>

        <table>
          <tr>
            <td style="width:35%;">
              <div class="span_label">Nombre:</div>
              <input type="text" id="first_name" value="{{first_name::input}}"/>
              <br/>
              <template is="dom-if" if="{{errors.1.error}}">
                  <span class="error">{{errors.1.msg}}</span>
              </template>
              <template is="dom-if" if="{{errors.4.error}}">
                <span class="error">{{errors.4.msg}}</span>
              </template>
              <!--<br/>-->
            </td>
            <td style="width:65%;">
              <div class="span_label">Apellidos:</div>
              <input type="text" id="last_name" value="{{last_name::input}}"/>
              <br/>
              <template is="dom-if" if="{{errors.2.error}}">
                <span class="error">{{errors.2.msg}}</span>
              </template>
              <template is="dom-if" if="{{errors.5.error}}">
                <span class="error">{{errors.5.msg}}</span>
              </template>
              <!--<br/>-->
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td colspan = 2>
              <div class="span_label">E-mail:</div>
              <input type="email" id="email" value="{{login::input}}"/>
              <br/>
              <template is="dom-if" if="{{errors.3.error}}">
                <span class="error">{{errors.3.msg}}</span>
              </template>
              <template is="dom-if" if="{{errors.6.error}}">
                <span class="error">{{errors.6.msg}}</span>
              </template>
              <!--<br/>-->
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td style="width:100%;">
              <div class="span_label">Documento de identidad:</div>
              <input type="text" id="dni" value="{{dni::input}}"/>
              <br/>
              <template is="dom-if" if="{{errors.0.error}}">
                <span class="error">{{errors.0.msg}}</span>
              </template>
              <!--<br/>-->
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td style="width:35%;">
              <div class="span_label">Sexo:</div>
              <input list="sex" value="{{sex::input}}">
                <br/>
                      <datalist id="sex">
                        <option value="Hombre"></option>
                        <option value="Mujer"></option>
                      </datalist>
                      <template is="dom-if" if="{{errors.7.error}}">
                        <span class="error">{{errors.7.msg}}</span>
                      </template>
                      <template is="dom-if" if="{{errors.12.error}}">
                        <span class="error">{{errors.12.msg}}</span>
                      </template>
                    <!--<br/>-->
            </td>
            <td style="width:65%;">
              <div class="span_label">País de residencia:</div>
              <input list="country" on-change="onChangePais" value="{{country::input}}"/>
                    <datalist id="country">
                      <option value="Alemania"></option>
                      <option value="Austria"></option>
                      <option value="Bélgica"></option>
                      <option value="Bulgaria"></option>
                      <option value="Chipre"></option>
                      <option value="Croacia"></option>
                      <option value="Dinamarca"></option>
                      <option value="Eslovaquia"></option>
                      <option value="Eslovenia"></option>
                      <option value="España"></option>
                      <option value="Estonia"></option>
                      <option value="Finlandia"></option>
                      <option value="Francia"></option>
                      <option value="Grecia"></option>
                      <option value="Hungría"></option>
                      <option value="Irlanda"></option>
                      <option value="Italia"></option>
                      <option value="Letonia"></option>
                      <option value="Lituania"></option>
                      <option value="Luxemburgo"></option>
                      <option value="Malta"></option>
                      <option value="Países Bajos"></option>
                      <option value="Polonia"></option>
                      <option value="Portugal"></option>
                      <option value="Reino Unido"></option>
                      <option value="República Checa"></option>
                      <option value="Rumanía"></option>
                      <option value="Suecia"></option>
                    </datalist><br/>
              <template is="dom-if" if="{{errors.8.error}}">
                <span class="error">{{errors.8.msg}}</span>
              </template>
              <template is="dom-if" if="{{errors.13.error}}">
                <span class="error">{{errors.13.msg}}</span>
              </template>
              <!--<br/>-->
            </td>
          </tr>
        </table>

        <h2>Y ahora, una clave que solo tú conozcas</h2>

        <table>
          <tr>
            <td>
              <div class="span_label">Introduce tu clave:</div>
              <input type="password" id="password" value="{{password::input}}"/>
              <br/>
              <template is="dom-if" if="{{errors.9.error}}">
                <span class="error">{{errors.9.msg}}</span>
              </template>
              <template is="dom-if" if="{{errors.11.error}}">
                <span class="error">{{errors.11.msg}}</span>
              </template>
              <!--<br/>-->
            </td>
            <td>
              <div class="span_label">Repite tu clave:</div>
              <input type="password" id="password_rep" value="{{password_rep::input}}"/>
              <br/>
              <template is="dom-if" if="{{errors.10.error}}">
                <span class="error">{{errors.10.msg}}</span>
              </template>
              <!--<br/>-->
            </td>
          </tr>
        </table>
        <!-- Ojo USAR EL EVENTO DE POLYMER NO EL OnClick de JS!!! -->
        <!-- on-click llama al método de la clase de abajo-->
      </br></br>
        <button on-click="CrearCliente">Sí, quiero hacerme cliente</button>
      </div>
    </div>

    <div class = "card" hidden$="{{!mostrarresultadocreacionusuario}}">
      <template is="dom-if" if="{{!resultado_llamada.err}}">
        <h1>Ahora ya eres un usuario BBVA!!!</h1>
          <img src="../images/children-593313__340.jpg" alt="Success!">
        </br></br>
          <button on-click="volveraHome">Volver a la página inicial</button>
      </template>
      <template is="dom-if" if="{{resultado_llamada.err}}">
        <h1>Lamentablemente ha habido un error en la creación de tu nuevo usuario</h1>
        <h2>Error: {{resultado_llamada.msg}}</h2>
        <!--
        <h2>Por favor,
          <a href="[[rootPath]]" on-click="volveraHome">pulsa aquí</a>
           para volver a la página inicial</h2>
        -->
          <button on-click="volveraHome">Volver a la paǵina inicial</button>
      </template>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

     /*Obtiene el usuario a partir del id*/
     // LA CLASE HA DE MANTENER EL ESTADO EN TODO MOMENTO
     // de ahi la propiedad "logado"
    class MyCrearusuario extends Polymer.Element {
      static get is() { return 'my-crearusuario'; }
      static get properties() {
        return {
          dni: {
            type: String,
            value: ""
          },
          first_name: {
            type: String,
            value: ""
          },
          last_name: {
            type: String,
            value: ""
          },
          login: {
            type: String,
            value: ""
          },
          sex: {
            type: String,
            value: ""
          },
          country: {
            type: String,
            value: ""
          },
          password: {
            type: String,
            value: ""
          },
          password_rep: {
            type: String,
            value: ""
          },
          errors:{
            type: Object,
            value: function() { return [
                                        {num:0,error:false,msg:""},
                                        {num:1,error:false,msg:"Caracteres incorrectos en el nombre"},
                                        {num:2,error:false,msg:"Apellidos con caracteres incorrectos"},
                                        {num:3,error:false,msg:"Email incorrecto"},
                                        {num:4,error:false,msg:"Campo Nombre vacío, debe rellenarlo"},
                                        {num:5,error:false,msg:"Campo Apellidos vacío, debe rellenarlo"},
                                        {num:6,error:false,msg:"Campo Email vacío, debe rellenarlo"},
                                        {num:7,error:false,msg:"Campo Sexo vacío, debe rellenarlo"},
                                        {num:8,error:false,msg:"Campo País de residencia vacío, debe rellenarlo"},
                                        {num:9,error:false,msg:"Campo vacío, debe rellenarlo"},
                                        {num:10,error:false,msg:"Campo vacío, debe rellenarlo"},
                                        {num:11,error:false,msg:"Las passwords introducidas no son exactamente iguales"},
                                        {num:12,error:false,msg:"Valor incorrecto"},
                                        {num:13,error:false,msg:"Valor incorrecto"},
                                       ]; }
          },
          resultado_llamada: {
            type: Object,
            value: function() { return {err: false, msg:""}; }
          },
          mostrarformlogin: {
            type: Boolean,
            value: true
          },
          mostrarresultadocreacionusuario: {
            type: Boolean,
            value: false
          },
          urlironajax:{
            type:String
          }
        };
      }


      validar_dni(dni) {
          var numero
          var letr
          var letra
          var expresion_regular_dni
          var error = ""

          if (dni === "") {
            error = "Campo DNI debe contener valor"
            return error
          }

          expresion_regular_dni = /^\d{8}[a-zA-Z]$/;

          if(expresion_regular_dni.test (dni) == true){
             numero = dni.substr(0,dni.length-1);
             letr = dni.substr(dni.length-1,1);
             numero = numero % 23;
             letra='TRWAGMYFPDXBNJZSQVHLCKET';
             letra=letra.substring(numero,numero+1);
             if (letra!=letr.toUpperCase()) {
                error = "DNI erroneo, la letra del NIF no se corresponde, debería ser " + letra
             }else{
               error = ""
             }
          }else{
             error="Dni erroneo, formato no válido"
           }
           return error
      }
      /*funcion llamada al final de la ejecución del iron-ajax*/
      /*Solo se ejecuta si devuelve un OK*/
      /*Si devuelve un 404 NO SE EJECUTA*/
      MostrarResultadoCrearUsuario(resultado){
        console.log("4. MostrarResultadoCrearUsuario:", resultado)
        // Si ha llegado hasta aqui la llamada a la API ha sido correcto
        this.set('resultado_llamada.err', false)
        this.set('resultado_llamada.msg', resultado.status)
        this.mostrarformlogin=false
        this.mostrarresultadocreacionusuario=true
      }

      // Error Handler (códigos no OK)
      MostrarErrorCrearUsuario(error){
        console.log("error-> ",  error.detail.error)

        this.set('resultado_llamada.err', true)
        if (error) {
          this.set('resultado_llamada.msg', "Problema en llamada a servicio")
        } else {
          this.set('resultado_llamada.msg', "Error indeterminado en la conexión")
        }
        this.mostrarformlogin=false
        this.mostrarresultadocreacionusuario=true
      }
      /* Evento on-click de Polymer en el button del formulario */
      CrearCliente() {
        // Lo primero al pulsar es resetear el array de errores
        for (var i = 0; i < this.errors.length; i++) {
          this.set('errors.'+i+'.error', false)
          console.log("Antes validaciones - Con get",this.get('errors.'+i+'.error'))
          //console.log("Antes validaciones - Con []",this.errors[i].error)
        }

         //// Validacion drop down
         var shadowroot = this.shadowRoot
         var inputs = shadowroot.querySelectorAll('datalist');
         //console.log("datalists:",inputs)
         //console.log ("inputs[0].options[0].attributes---->",inputs[0].options[0].attributes.value.nodeValue)
         //console.log ("inputs[0].options[1].attributes---->",inputs[0].options[1].attributes.value.nodeValue)
         //console.log ("inputs[1].options[0].attributes---->",inputs[1].options[0].attributes.value.nodeValue)
         if (this.sex !== "") {
           var error_sex = true
           for (var i = 0; i < inputs[0].options.length; i++) {
             if (inputs[0].options[i].attributes.value.nodeValue === this.sex) {
               error_sex = false
               break
             }
           }
           console.log ("error_sex:",error_sex)
           this.set('errors.12.error', error_sex);
         }
        if (this.country !== "") {
         var error_country = true
         for (var i = 0; i < inputs[1].options.length; i++) {
           if (inputs[1].options[i].attributes.value.nodeValue === this.country) {
             error_country = false
             break
           }
         }
         console.log ("error_country:",error_country)
         this.set('errors.13.error', error_country);
        }
        ///////////////////////////////
        // Resto Validaciones
        // Cada error hace un push en el array "The polymer way" (método pudh de polymer)
        // Campos no vacíos (exceptio DNI)

        if (this.first_name === "")
          this.set('errors.4.error', true);
        if (this.last_name === "")
          this.set('errors.5.error', true);
        if (this.login === "")
          this.set('errors.6.error', true);
        if (this.sex === "")
          this.set('errors.7.error', true);
        if (this.country === "")
          this.set('errors.8.error', true);
        if (this.password === "")
          this.set('errors.9.error', true);
        if (this.password_rep === "")
          this.set('errors.10.error', true);
        // Password
        if (this.password !== this.password_rep) {
            this.set('errors.11.error', true);
        }
        // Dni
        var err_dni = this.validar_dni(this.dni)
        if (err_dni !== "") {
            //console.log("err_dni: ",err_dni)
            this.set('errors.0.error', true);
            this.set('errors.0.msg', err_dni);
        }
        // caracteres incorrectos en nombre y apellidos
        if (! /^[a-z A-Z]+$/.test(this.first_name) && this.first_name.length !== 0) {
            this.set('errors.1.error', true);
        }

        if (! /^[a-z A-Z]+$/.test(this.last_name) && this.last_name.length !== 0) {
            this.set('errors.2.error', true);
        }

        // email
        if (this.login.indexOf("@") === -1 && this.login.length !== 0) {
           this.set('errors.3.error', true);
        }


        var hayerr = false
        for (var i = 0; i < this.errors.length && !hayerr; i++) {
          if (this.get('errors.'+i+'.error')) hayerr=true
        }

        if (!hayerr) { //No hay errores

            // Damos valor a las cabeceras HTTP que son la entrada del servicio web
            // Y lanzamos la request con el metodo generateRequest de iron-ajax
            console.log("1. Cabeceras HTTP")
            // Para el dni usamos solo el dato numérico
            var numero = this.dni.substr(0,this.dni.length-1)
            this.$.CrearUsuario.headers.id = parseInt(numero)
            this.$.CrearUsuario.headers.first_name = this.first_name
            this.$.CrearUsuario.headers.last_name = this.last_name
            this.$.CrearUsuario.headers.email = this.login
            this.$.CrearUsuario.headers.gender = this.sex
            this.$.CrearUsuario.headers.country = this.country
            this.$.CrearUsuario.headers.password = this.password
            console.log("2. Se envia la peticion")
            //console.log("*this.$.CrearUsuario.headers.enail: ",this.$.CrearUsuario.headers.enail)
            console.log("my-crearusuario - this.urlironajax ->", this.urlironajax)
            this.$.CrearUsuario.generateRequest()
            console.log("3. Peticion enviada")
        }
        else {
        }
      }
      volveraHome(){
        console.log("volveraHome()")
        //Despachamos evento al padre
        this.dispatchEvent(new CustomEvent('backcreateuser',{"detail":{"foo":0}}))
      }
      onChangePais () {

      }

    }
    window.customElements.define(MyCrearusuario.is, MyCrearusuario);
  </script>
</dom-module>
