<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- DCO Importamos iron-ajax-->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<!-- DCO Importamos estilos compartidos -->
<link rel="import" href="shared-styles.html">


<dom-module id="my-loginusuario">
  <template>
    <style include="shared-styles">
      :host {

        display: block;
        padding: 25px 300px 75px 300px;
        text-align: center;
        /*
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        */
      }
      .centrar_form {
        display: inline-block;
        padding: 10px;
        width: 70%;
        /*background-color: azure;*/
      }
      button{
        width: 120px;
      }
      input{
        width: 70%;
      }
      .span_label {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        color: rgb(102,102,102);
        /*padding: 5px;
        border:1px solid red;*/
        text-align: left;
        width: 78%;
      }
      .error_login {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-style: bold;
        display: block;
        color: red;
        text-align: center;
        /*padding: 5px;
        border:1px solid red;*/
      }

    </style>

    <!--
    Llamada al servicio de Login
    lleva el auto para que se ejecute solo al pulsar el boton

    Ojo a nuestro servicio
    http://localhost:3000/apitechu/v5/usuarios/login
    la cabecera se llama email, no login

    <iron-ajax id="HacerLogin"
               url="http://localhost:3000/apitechu/v5/usuarios/login"
               method = "POST"
               handle-as="json"
               on-response="MostrarResultadoLogin"
               on-error="MostrarError">
    </iron-ajax>
    -->
    <iron-ajax id="HacerLogin"
               url={{urlironajax}}
               method = "POST"
               handle-as="json"
               on-response="MostrarResultadoLogin"
               on-error="MostrarError">
    </iron-ajax>
    <!--
    Componente para login
    Los estilos los dejamos para el final

    Si no ponermos el "::input" no funciona, lo que hace es dar valor
    a los atributos email y password con lo que el usuario teclee en el input
    -->

    <div class="card">
        <div class="centrar_form">
        <h2>¡Hola! Introduce tus claves de acceso</h2>

          <!-- login incorrecto -->
          <template is="dom-if" if="{{errorlogin}}">
            <div class="error_login">
               <span>Error en login, inténtelo de nuevo.</span>
            </div>
          </template>

          <!-- login vacio -->
          <template is="dom-if" if="{{errorVacio}}">
            <div class="error_login">
               <span>No se ha informado login o password</span>
            </div>
          </template>

          <div class="span_label">
            <label for="email">Tu usuario (e-mail):</label></br>
          </div>
          <input type="email" id="email" value="{{login::input}}" on-focus="hideErrorsWhenFocus"/></br>
          <div class="span_label">
            <label for="password">Tu clave de acceso:</label></br>
          </div>
          <input type="password" id="password" value="{{password::input}}" on-focus="hideErrorsWhenFocus"/></br>

          <!-- Ojo USAR EL EVENTO DE POLYMER NO EL OnClick de JS!!! -->
          <!-- on-click llama al método de la clase de abajo-->
          <button on-click="Logar">Login</button>
        </div>
        <!-- Me muestra bienvenida solo si hace login
        "$"" indica a polymer actualizar en caso de atributo estándar
         -->
         <!-- realmente esto no es necesario -->
         <template is="dom-if" if="{{logado}}">
              <span style="color:blue">Bienvenido de nuevo</span>
        </template>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

     /*Obtiene el usuario a partir del id*/
     // LA CLASE HA DE MANTENER EL ESTADO EN TODO MOMENTO
     // de ahi la propiedad "logado"
    class MyLoginusuario extends Polymer.Element {
      static get is() { return 'my-loginusuario'; }
      static get properties() {
        return {
          /*
          email: {
            type: String,
          },
          */
          login: {
            type: String,
          },
          password: {
            type: String
          },
          logado:{
            type: Boolean,
            value: false
          },
          // Necesario porque al entrar en la página logado=false y login=false
          errorlogin:{
            type:Boolean,
            value: false
          },
          errorVacio: {
            type:Boolean,
            value: false
          },
          urlironajax:{
            type:String
          }
        };
      }
      /*funcion llamada al final de la ejecución del iron-ajax*/
      /*Solo se ejecuta si devuelve un OK*/
      /*Si devuelve un 404 NO SE EJECUTA*/
      MostrarResultadoLogin(resultado){
        console.log("4. Llegaron los resultados")
        console.log(resultado)
        console.log("5. Resultados procesados")
        // Si ha llegado hasta aqui el login ha sido correcto
        this.logado = true
        this.errorlogin = false
        this.errorVacio = false
        // Proyecto - hacer un dispatch de un evento personalizado - Custom event
        // Lo manzo en el resultado del iron-ajax si este ha sido correcto
        // Envío lo que me manda el ID
        // Controlado en padre-app.html
        this.dispatchEvent(new CustomEvent('logado',{"detail":{"id": resultado.detail.response.id}}))
      }
      // Error Handler (códigos no OK)
      MostrarError(error){
        console.log("Error en login: ", error)
        this.errorlogin=true
        this.logado=false
        //Blanqueo los campos
        this.login = "";
        this.password = "";
      }
      // Despues de un error si cualquiera de los dos campos coge el foco se limpia el error
      // Queda mejor estéticamente
      hideErrorsWhenFocus(){
        //console.log("FOCUS!!!!")
        if (this.errorlogin || this.errorVacio){
          this.errorlogin = false
          this.errorVacio = false
        }
      }
      /* Evento on-click de Polymer en el button del formulario */
      Logar() {
        console.log("Logar()")
        console.log("this.errorVacio ->", this.errorVacio)
        console.log("this.errorlogin ->", this.errorlogin)
        console.log("my-loginunsuario - this.urlironajax ->", this.urlironajax)
        this.errorVacio = false
        this.errorlogin = false
        // this.$.hacerLogin me localiza el elemento iron-ajax
        // con $ estamos accediendo al componente
        // Damos valor a las cabeceras HTTP que son la entrada del servicio web
        // que hace login
        // Y lanzamos la request con el metodo generateRequest de iron-ajax
        if (this.login !== "" && this.password !== "") {
          if (this.login !== undefined && this.password !== undefined) {
            console.log("1. El usuario ha pulsado el boton")
            this.$.HacerLogin.headers.login = this.login
            this.$.HacerLogin.headers.password = this.password
            console.log("login: ", this.login)
            console.log("password: ", this.password)
            console.log("2. Se envia la peticion")
            this.$.HacerLogin.generateRequest()
            console.log("3. Peticion enviada")
          }
          else {
            this.errorVacio = true
            this.logado=false
          }
        }
        else {
          this.errorVacio = true
          this.logado=false
        }
        //Si los pasamos por query string habria que modificar la URL con
        //this.$.url
        //this.$.body en caso de POST....
        //etc etc etc
        //ver iron-ajax/iron-ajax.html

      }
    }

    window.customElements.define(MyLoginusuario.is, MyLoginusuario);
  </script>
</dom-module>
