<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!-- DCO Importamos iron-ajax-->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<!-- DCO Importamos estilos compartidos -->
<link rel="import" href="shared-styles.html">


<dom-module id="my-logout">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 25px 150px 75px 150px;
        text-align: center;
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: 75%;
      }
    </style>

    <!--
    Llamada al servicio de Login
    lleva el auto para que se ejecute solo al pulsar el boton

    Ojo a nuestro servicio
    http://localhost:3000/apitechu/v5/usuarios/login
    la cabecera se llama email, no login
    -->
    <iron-ajax id="HacerLogout"
               url="{{urlironajax}}"
               method = "POST"
               handle-as="json"
               on-response="logoutOK"
               on-error="logoutError">
    </iron-ajax>

    <div class="card" hidden$={{!visible}}>

        <h1>¡Hasta pronto {{nombrecliente}}!</h1>
        <img src="../images/logout.jpeg" alt="Success!">
        </br></br>
    </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     /*Obtiene el usuario a partir del id*/
     // LA CLASE HA DE MANTENER EL ESTADO EN TODO MOMENTO
     // de ahi la propiedad "logado"
    class MyLogout extends Polymer.Element {
      static get is() { return 'my-logout'; }
      static get properties() {
        return {
          id: {
            type: Number,
            default: 0,
            observer: '_cambioId',
          },
          // Nombre del cliente para dirigirnos a el apropiadamente
          nombrecliente:{
            type: String
          },
          // No hacer visible el contenido de la página hasta que vuelva
          // la llamada iron-ajax
          visible:{
            type: Boolean,
            default: false
          },
          urlironajax:{
            type:String
          }
        };
      }
      // Usamos el observer, para hacer el logout cuando cambio this.id
      // Recordemos que connectedCallback solo funciona la primera vez
      _cambioId() {
        // Solo se ejecuta el observer en caso de cambiar el ID por algo distinto
        // de cero
        if (this.id != 0){
          console.log ("_cambioId() observer - logout - starts. id:", this.id)
          this.visible = false
          // Llamamos al Iron-ajax de obtener movimientos
          // id del Iron ajax => "obtenerCuentas"
          this.$.HacerLogout.headers.id = this.id
          // Reseteamos porque al segundo logout no se disparaba el observer
          this.id = 0
          console.log ("my-logout - this.urlironajax -> ",this.urlironajax)
          this.$.HacerLogout.generateRequest()
        }
      }
      /*funcion llamada al final de la ejecución del iron-ajax*/
      /*Solo se ejecuta si devuelve un OK*/
      /*Si devuelve un 404 NO SE EJECUTA*/
      logoutOK(resultado){
        console.log("logoutOK()")
        console.log(resultado)
        // Hacemos visible el contenido del componente
        this.visible = true
        this.nombrecliente = resultado.detail.response.firstname
        this.dispatchEvent(new CustomEvent('volverlogout',{"detail":resultado.detail.response}))
      }
      // Error Handler (códigos no OK)
      logoutError(error){
        console.log("Cascotazo! -logout-")
        console.log(error)
        this.dispatchEvent(new CustomEvent('volverlogout',{"detail":error.detail.response}))
      }
    }

    window.customElements.define(MyLogout.is, MyLogout);
  </script>
</dom-module>
