<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">


<dom-module id="my-transferencia">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 25px 150px 75px 150px;
        /*text-align: center;*/
      }

      tr:hover {
        background-color: transparent;
      }
      .form_completo{
        padding: 25px 100px 75px 100px;
      }
      .paso_transf {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
      }
      input{
        width: 80%;
        margin: 0 0 0px;
      }
      .error {
        position: relative;
        z-index: 1;
        padding: 10px;
        border-radius: 10px;
        color: white;
        width: 235px;
        text-align: center;
        font-size: 12px;
        background: RGB(194, 46, 79);
      }
      .error::after {
          content: '';
          border-bottom: 15px solid RGB(194, 46, 79);
          border-right: 15px solid transparent;
          border-left: 15px solid transparent;
          position: absolute;
          left: 45%;
          top: -14px;
      }
      td {
        border-bottom: 0px;
        padding: 20px 1px 1px 20px;
      }
      .boton_sup_dcha {
        padding: 20px 20px 20px 1px;
        margin: 1px;
        text-align: right;
        border-bottom: 0px;
      }
      .t_header {
        padding: 1px 1px 1px 20px;
        text-align: left;
        border-bottom: 0px;
      }
      .numeros{
        text-align: left;
        border-bottom: 0px;
        width:10%;
      }
      .tr_pasos{
        vertical-align: top;
        height:150px;
      }
      .transferencia_ok {
        display: block;
        padding: 25px 150px 75px 150px;
        text-align: center;
      }
    </style>
    <!-- movimiento en cuenta origen -->
    <iron-ajax id="QuitarSaldoCtaOrigen"
               url="{{urlironajax}}"
               method = "POST"
               handle-as="json"
               on-response="quitarSaldoCtaOrigenOK"
               on-error="quitarSaldoCtaOrigenError">
    </iron-ajax>
    <!-- movimiento en cuenta destino -->
    <iron-ajax id="SumarSaldoCtaDestino"
               url="{{urlironajax}}"
               method = "POST"
               handle-as="json"
               on-response="SumarSaldoCtaDestinoOK"
               on-error="SumarSaldoCtaDestinoError">
    </iron-ajax>

    <!-- Transferencia correcta -->
    <div class="card" hidden$={{!ocultarFormTransf}}>
      <div class="transferencia_ok">
        <h2>Transferencia realizada con éxito</h2>
        </br></br>
        <button on-click="volverPosicionGlobal">Volver a Posición Global</button>
      </div>
    </div>

    <div class="card" hidden$={{ocultarFormTransf}}>

      <div class="form_completo">

        <table style="border: 0px;">
          <tr style="background-color: #eaebed;">
            <td class="t_header">
              <h1>Introduzca los datos de la transferencia</h1>
            </td>
            <td class="boton_sup_dcha">
              <button on-click="volverPosicionGlobal">Volver a Posición Global</button>
            </td>
          </tr>
        </table>

        <table>
          <tr class="tr_pasos">
            <td class="numeros"><span class="circle">1</span></td>
            <td><span class="paso_transf">Elija la cuenta origen</span></td>
            <td style="width:40%">
              </p>
              <input list="cuentas_origen" id="iban_origen" value="{{iban_origen::input}}">
                      <!--lo rellenamos por código-->
                      <datalist id="cuentas_origen"></datalist>
              </p>
              <template is="dom-if" if="{{errors.1.error}}">
                <span class="error">{{errors.1.msg}}</span>
              </template>
              <template is="dom-if" if="{{errors.3.error}}">
                <span class="error">{{errors.3.msg}}</span>
              </template>
              </p>
            </td>
          </tr>
          <!--
          <tr>
            <td></td>

          </tr>
          -->
          <tr class="tr_pasos">
            <td class="numeros"><span class="circle">2</span></td>
            <td><span class="paso_transf">Código IBAN de la cuenta destino</span></td>
            <td>
              </p>
              <input type="text" id="iban_destino" value="{{iban_destino::input}}"/>
              </p>
              <template is="dom-if" if="{{errors.2.error}}">
                <span class="error">{{errors.2.msg}}</span>
                </p>
              </template>
            </td>
          </tr>
          <!--
          <tr>
            <td></td>

          </tr>
          -->
          <tr class="tr_pasos">
            <td class="numeros"><span class="circle">3</span></td>
            <td><span class="paso_transf">Nombre y apellidos del beneficiario</span></td>
            <td>
              </p>
              <input type="text" id="benef" value="{{benef::input}}"/>
              </p>
            </td>
          </tr>
          <!--
          <tr>
            <td></td>

          </tr>
          -->
          <tr class="tr_pasos">
            <td class="numeros"><span class="circle">4</span></td>
            <td><span class="paso_transf">Importe de la transferencia (EUR)</span></td>
            <td>
              </p>
              <input type="text" id="importe" value="{{importe::input}}"/>
              </p>
              <template is="dom-if" if="{{errors.4.error}}">
                <span class="error">{{errors.4.msg}}</span>
              </template>
              </p>
            </td>
          </tr>
          <!--
          <tr>
            <td></td>

          </tr>
          -->
          <tr>
            <td colspan=3 style="text-align:center;">
              <button on-click="lanzarTransferencia">Realizar transferencia</button>
            </td>
          </tr>
        </table>
      </div>
   </div>
  </template>

  <script>
    class MyTransferencia extends Polymer.Element {
      static get is() { return 'my-transferencia'; }
      static get properties() {
        return {
          cuentas: {
            type: Object,
            value: function() { return {}; },
            observer: '_rellenarComboCuentas',
          },
          iban_origen: {
            type: String,
            value: ""
          },
          iban_destino: {
            type: String,
            value: ""
          },
          benef: {
            type: String,
            value: ""
          },
          importe: {
            type: Number,
            value: 0
          },
          ocultarFormTransf: {
            type: Boolean,
            value: false
          },
          hayErrores: {
            type: Boolean,
            value: false
          },
          urlironajax:{
            type:String
          },
          errors:{
            type: Object,
            value: function()
            {
              return [
                {num:0,error:false,msg:""},
                {num:1,error:false,msg:"IBAN Origen no existente o no informado"},
                {num:2,error:false,msg:"IBAN Destino no existente o no informado"},
                {num:3,error:false,msg:"Los dos IBAN no pueden ser iguales"},
                {num:4,error:false,msg:"Importe de la transferencia ha de ser entero positivo"}
              ];
            }
          },
        };
      }
      // Para rellenar con ceros a la izquierda
      fechaHoy() {
        //// Fecha de hoy
        var f = new Date()
        var day = f.getDate()
        day = ("0"+day).slice(-2)
        var mon = (f.getMonth() +1)
        mon = ("0"+mon).slice(-2)
        return (f.getFullYear() + "/" + mon + "/" + day)
      }
      //validaciones
      pasaValidacionesIniciales(){
        var pasaValidaciones = true
        if (this.iban_origen === "") {
          this.set('errors.1.error', true)
          pasaValidaciones = false
        }
        if (this.iban_destino === "") {
          this.set('errors.2.error', true)
          pasaValidaciones = false
        }
        if (this.iban_origen === this.iban_destino &&
            this.iban_origen !== "" &&
            this.iban_destino !== ""){
          this.set('errors.3.error', true)
          pasaValidaciones = false
        }
        if (this.importe <= 0){
          this.set('errors.4.error', true)
          pasaValidaciones = false
        }
        return pasaValidaciones
      }
      // Observer que rellena el combo de las cuentas origen
      _rellenarComboCuentas(){
          console.log("_rellenarComboCuentas()")
          console.log("cuentas.cuentas:", this.cuentas.cuentas)
          // Usa el DOM para rellenar "datalist" con cada uno de los iban del cliente
          var shadowroot = this.shadowRoot
          var input = shadowroot.querySelectorAll('datalist');
          // Si ya se relleno antes no hacerlo de nuevo
          console.log("input[0].childNodes:", input[0].childNodes)
          if (input[0].childNodes.length == 0){
            this.cuentas.cuentas.forEach(function(item){
                var option = document.createElement('option');
                option.value = item.iban;
                //Solo hay un element DATALIST
                input[0].appendChild(option);
              });
          }
      }
      lanzarTransferencia (){
        console.log("this.cuentas:",this.cuentas)
        console.log("this.iban_origen:", this.iban_origen)
        console.log("this.iban_destino:", this.iban_destino)
        console.log("this.benef:", this.benef)
        console.log("this.importe:", this.importe)

        // Lo primero al pulsar es resetear el array de errores
        // Por si quiere hacer alguna validacion mas en la sesion
        for (var i = 0; i < this.errors.length; i++) {
          this.set('errors.'+i+'.error', false)
          //console.log("Antes validaciones - Con get",this.get('errors.'+i+'.error'))
          //console.log("Antes validaciones - Con []",this.errors[i].error)
        }
        this.hayErrores = false
        this.ocultarFormTransf = false
        // Ejecutamos si pasan las validaciones
        if (this.pasaValidacionesIniciales()){
            //////////////////////////////////////////////////
            // Llamada a iron-ajax para añadir un movimiento a la cuenta origen
            //////////////////////////////////////////////////
            this.$.QuitarSaldoCtaOrigen.headers.iban = this.iban_origen
            this.$.QuitarSaldoCtaOrigen.headers.fecha = this.fechaHoy()
            this.$.QuitarSaldoCtaOrigen.headers.importe = -this.importe
            // Falta el beneficiario
            this.$.QuitarSaldoCtaOrigen.headers.descr = "Transferencia emitida"
            this.$.QuitarSaldoCtaOrigen.headers.moneda = "EUR"

            console.log("QuitarSaldoCtaOrigen -> Se envia la peticion")
            //console.log("origen headers:",this.$.QuitarSaldoCtaOrigen.headers)
            console.log ("my-transferencia - this.urlironajax -> ",this.urlironajax)
            this.$.QuitarSaldoCtaOrigen.generateRequest()
            console.log("QuitarSaldoCtaOrigen -> Peticion enviada")
        }
        else {
            this.hayErrores = true
            console.log (this.errors)
        }
      }
      quitarSaldoCtaOrigenOK(){
        console.log("quitarSaldoCtaOrigenOK()!!!")
        //////////////////////////////////////////////////
        // Si todo OK, llamada a iron-ajax para añadir un movimiento a la
        // cuenta destino
        // Si lo hacemos en lanzar Transferencia se produce una llanada
        // asíncrona que produce condiciones de carrera
        //////////////////////////////////////////////////
        this.$.SumarSaldoCtaDestino.headers.iban = this.iban_destino
        this.$.SumarSaldoCtaDestino.headers.fecha = this.fechaHoy()
        this.$.SumarSaldoCtaDestino.headers.importe = this.importe
        this.$.SumarSaldoCtaDestino.headers.descr = "Transferencia a su favor"
        // Falta el beneficiario
        this.$.SumarSaldoCtaDestino.headers.moneda = "EUR"
        console.log("SumarSaldoCtaDestino -> Se envia la peticion")
        console.log("destino headers:",this.$.SumarSaldoCtaDestino.headers)
        this.$.SumarSaldoCtaDestino.generateRequest()
        console.log("SumarSaldoCtaDestino -> Peticion enviada")
      }
      quitarSaldoCtaOrigenError(error){
        console.log("ERROR en Llamada a QuitarSaldoCtaOrigen")
        this.hayErrores = true
        this.set('errors.1.error', true)
        console.log("***",error.detail.request.xhr.response.status)
      }
      SumarSaldoCtaDestinoOK(){
        console.log("SumarSaldoCtaDestinoOK()!!!")
        this.ocultarFormTransf = true
      }
      SumarSaldoCtaDestinoError(error){
        console.log("ERROR en Llamada a SumarSaldoCtaDestino")
        this.hayErrores = true
        this.set('errors.2.error', true)
        console.log("***",error.detail.request.xhr.response.status)
      }
      volverPosicionGlobal(){
        // Mando un evento a front-practitionerapp.html que lance el componente
        // que muestra cuentas.
        this.ocultarFormTransf = false
        // Borramos errores
        for (var i = 0; i < this.errors.length; i++) {
          this.set('errors.'+i+'.error', false)
          //console.log("Antes validaciones - Con get",this.get('errors.'+i+'.error'))
          //console.log("Antes validaciones - Con []",this.errors[i].error)
        }
        this.dispatchEvent(new CustomEvent('volvercuentas',{"detail":{"foo":0}}))
      }

    }

    window.customElements.define(MyTransferencia.is, MyTransferencia);
  </script>
</dom-module>
