<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">

<dom-module id="my-visorcuentas">
  <template>
    <!-- Añadimos esto para que los estilos de bootstrap funcionen en Chrome
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .no_products{
        display: block;
        padding: 25px 300px 75px 300px;
        text-align: center;
      }
      .saldo {
          padding: 1px 20px 1px 1px;
          font-size: 22px;
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          color: rgb(102,102,102);
          text-align: right;
      }
      .iban {
        width: 30%;
        padding: 1px 1px 1px 20px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: blue;
        text-align: left;
      }
      .ticker{
        padding: 1px 1px 1px 20px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: rgb(102,102,102);
        text-align: left;
      }
      .table_header {
        padding: 20px 1px 20px 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 24px;
        text-align: left;
      }
      .botones_sup_dcha {
        padding: 20px 20px 20px 1px;
        margin: 1px;
        text-align: right;
      }
    </style>

    <!-- Quitar el auto="" para que no se muestre solo-->
    <!-- Quitamos headers='{"idcliente":528}' -->
    <iron-ajax
      id="obtenerCuentas"
      url="{{urlironajaxctas}}"
      handle-as="json"
      on-response="mostrarCuentas"
      on-error="mostrarErrorCuentas">
    </iron-ajax>

    <!-- cuentas de valores -->
    <iron-ajax
      id="obtenerCuentasValores"
      url="{{urlironajaxctasvalores}}"
      handle-as="json"
      on-response="mostrarCuentasValores"
      on-error="mostrarErrorCuentasValores">
    </iron-ajax>

   <!-- Este es el de demo
    <iron-ajax
      id="obtenerSerieHistorica"
      url="https://www.quandl.com/api/v3/datasets/WIKI/ZUMZ/data.json?column_index=4&start_date=2018-03-01&api_key=KqTJsBf8-T8hjNkWGLEx"
      handle-as="json"
      on-response="serieHistoricaOK"
      on-error="serieHistoricaError">
    </iron-ajax>
    -->

    <!-- Bucle polymer dentro de una tabla -->
    <!-- Tarjeta para ver la lista de cuentas corrrientes -->
    <div class="card">
      <div>
        <h1>Mi posición global</h1>
      </div>

      <div style="overflow-x:auto;" hidden$={{!tiene_cuentas}}>
        <table>
          <tr>
            <th class="table_header" colspan=2>Cuentas personales</th>
            <th class="botones_sup_dcha">
              <button on-click="hacerTransferencia">Hacer una transferencia</button>
            </th>
          </tr>
          <!--
          <tr>
            <th>IBAN</th>
            <th>boton</th>
          </tr>
          -->
        <tbody>
        <!-- Muestra el array cuentas que es un metodo de  la clase de abajo-->
        <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <!--<td>{{index}}</td>-->
            <td class="iban">{{item.iban}}</td>
            <td>
              <!--con "data-" creamos una variable index accesible desde el
              método verMovimientosiban. Desde este método mandaremos un evento
              al padre para que muestre los movimientos de ese IBAN -->
              <button on-click="verMovimientosiban" data-index$="{{index}}">
                Movimientos
              </button>
            </td>
            <td class="saldo">{{item.saldo}} €</td>
          </tr>
        </template>
      </tbody>
      </table>
      </div>
      <!-- separador tablas -->
      <div style="padding:20px;">
      </div>

      <!-- Si no hay cuentas, se pone un mensaje informativo -->
      <template is="dom-if" if="{{mostrar_mensaje_sin_cuentas}}">
        <div class="no_products">
          <h2>Todavía no tiene usted productos financieros abiertos...</h2>
        </div>
      </template>

      <!--cuentas de valores; si no tiene no se muestra nada -->

      <div style="overflow-x:auto;" hidden$={{!tiene_cuentas_valores}}>
        <!-- <h1>Valores</h1> -->
        <!-- Muestra el array cuentas de valores que es una propiedad de la clase de abajo-->
        <table>
          <tr>
            <th class="table_header" colspan=3>Cuentas de valores</th>
          </tr>
        <tbody>
        <template is="dom-repeat" items="{{cuenta_valores}}">
          <tr>
            <td class="iban" colspan=2>{{item.codigo}}</td>
            <td class="botones_sup_dcha">
              <button on-click="verDetallesCtaValores" data-index$="{{index}}">
                Ver detalles
              </button>
            </td>
          </tr>
          <tr>
            <td class="ticker">{{item.ticker_valor}}</td>
            <td class="ticker">{{item.desc_valor}}</td>
            <td class="saldo">{{item.num_titulos}} títulos</td>
          </tr>
        </template>
        </tbody>
        </table>
      </div>
  </template>



  <script>

    /**
     * `visor-cuentas`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyVisorcuentas extends Polymer.Element {
      static get is() { return 'my-visorcuentas'; }
      static get properties() {
        return {
          idcliente: {
            type: Number
          },
          // Array de cuentas del cliente
          cuentas: {
            type: Array
          },
          // tiene cuentas bancarias
          tiene_cuentas:{
            type:Boolean,
            default:false
          },
          // Array de cuentas de valores
          cuenta_valores: {
            type: Array
          },
          // tiene cuentas bancarias
          tiene_cuentas_valores:{
            type:Boolean,
            default:false
          },
          mostrar_mensaje_sin_cuentas: {
            type:Boolean,
            default:false
          },
          //Al volver atrás desde la trasferencia no actualiza los saldos
          //El observer sobre idcliente no cambia
          //Hay que forzar la llamada al iron ajax con un observer sobre un flag
          launch_request:{
            type: Boolean,
            default: false,
            observer: '_obtenerCuentas'
          },
          urlironajaxctas:{
            type:String
          },
          urlironajaxctasvalores:{
            type:String
          }
        };
      }

      // Observer que se ejecutará cada vez que llamemos a este componente.
      // Siempre que launch_request sea true lanzará el iron-ajax
      _obtenerCuentas(){
        if (this.launch_request){
          // Cada vez que lo ponga true entrara por aqui pero hay que resetearlo
          this.launch_request = false
          // Invisible y sin cuentas hasta que la llamada devuelva algo
          this.tiene_cuentas = false
          this.tiene_cuentas_valores = false
          this.mostrar_mensaje_sin_cuentas = false
          this.$.obtenerCuentas.headers.idcliente = this.idcliente
          console.log ("observer obtenerCuentas() starts. idcliente:", this.idcliente)
          console.log ("my-visorcuentas - urlironajaxctas ->", this.urlironajaxctas)
          console.log ("my-visorcuentas - urlironajaxctasvalores ->",this.urlironajaxctasvalores)
          this.$.obtenerCuentas.generateRequest()
        }
      }
      //Llamada Iron-ajax a obtener cuentas correcta
      mostrarCuentas (resultado){
          // Hacemos visible el contenido del componente
          // Aunque se retrasen las cuentas de valores así va viendo algo

          console.log("resultado.detail.response", resultado.detail.response)
          this.cuentas = resultado.detail.response

          //Si el cliente no tiene cuentas le informamos
          if (this.cuentas.length === 0) {
            console.log("Sin cuentas bancarias")
            this.mostrar_mensaje_sin_cuentas = true
          } else{
            this.tiene_cuentas = true
            // Si el cliente tiene una cuenta bancaria, buscamos las cuentas de valores
            this.$.obtenerCuentasValores.headers.idcliente = this.idcliente
            this.$.obtenerCuentasValores.generateRequest()
          }
      }
      //Llamada erronea Iron-ajax a obtener cuentas
      mostrarErrorCuentas (error) {
          console.log(error.detail.response)
      }

      //Llamada correcta Iron-ajax a obtener cuentas valores
      mostrarCuentasValores(resultado){
        console.log("mostrarCuentasValores() -> resultado.detail.response: ", resultado.detail.response)

        if (resultado.detail.response.length === 0) {
          console.log("Sin cuentas de valores")
        } else{
          this.cuenta_valores = resultado.detail.response.cuenta_valores
          this.tiene_cuentas_valores = true
        }
      }
      //Llamada Iron-ajax a obtener cuentas valores errónea
      mostrarErrorCuentasValores(error) {
        console.log("mostrarErrorCuentasValores -> error: ", error.detail.response)
      }


      verMovimientosiban(event){
        console.log("En verMovimientosIBAN")
        var index = event.target.dataset.index
        console.log ("event.target.dataset.index: ", index)
        console.log ("iban: ", this.cuentas [index])
        // Mando un evento a front-practitionerapp.html que lance el componente
        // que muestra movmientos.
        this.dispatchEvent(new CustomEvent('movimientos',{"detail":this.cuentas[index]}))
      }
      // Llama a la pantalla de trnasferencias
      hacerTransferencia () {
        console.log ("hacerTransferencia()")
        this.dispatchEvent(new CustomEvent("transfer",{"detail":{"idcliente":this.idcliente,"cuentas":this.cuentas}}))
      }

      verDetallesCtaValores(event){
        console.log ("verDetallesCtaValores()")
        var index = event.target.dataset.index
        console.log ("this.cuenta_valores[index]: ", this.cuenta_valores[index])
        this.dispatchEvent(new CustomEvent('detallectaval',{"detail":{"idcliente": this.idcliente, "detallectaval":this.cuenta_valores[index]}}))
      }

      /////
      // DEMO
      // Ejecuta la llamada a quandl para obtener la serie histórica de una acción
      verSerieHistorica(){
        console.log ("verSerieHistorica()")
        this.$.obtenerSerieHistorica.generateRequest()
      }

      serieHistoricaOK (resultado) {
        console.log ("serieHistoricaOK()")
        console.log("resultado.detail", resultado.detail)
        console.log("resultado.detail.response", resultado.detail.response.dataset_data.data)

        this.$.month.options = {"title": "Precio de la acción"}
        this.$.month.cols = [{"label":"Día", "type":"string"}, {"label":"Precio", "type":"number"}]
        //this.$.month.rows = [ ["21/03/2018", 31],["22/03/2018", 28],["23/03/2018", 31],["24/03/2018", 33] ]
        this.$.month.rows = resultado.detail.response.dataset_data.data
        this.$.month.redraw()

      }
      serieHistoricaError (error) {
        console.log ("serieHistoricaError()")
        console.log(error)
      }

    }
    window.customElements.define(MyVisorcuentas.is, MyVisorcuentas);
  </script>
</dom-module>
