<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="my-visorctavalores">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .center-div
      {
         margin: 0 auto;
         width: 1000px;
      }
      .table_header {
        padding: 10px 1px 10px 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 24px;
        text-align: left;
      }
      .cuenta {
        padding: 1px 1px 1px 20px;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: blue;
        text-align: left;
      }

      .ticker{
        padding: 1px 1px 1px 20px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: rgb(102,102,102);
        text-align: left;
      }
      .ticker_estrecho{
        width: 15%;
        padding: 1px 1px 1px 20px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color:rgb(102,102,102);
        text-align: left;
      }
      tr:hover {
        background-color: transparent;
      }
    </style>

    <iron-ajax
      id="obtenerDetalleCtaValores"
      url={{urlironajax}}
      handle-as="json"
      on-response="mostrarDetalleCtaValores"
      on-error="mostrarDetalleCtaValoresError">
    </iron-ajax>

    <div class="card"  hidden$={{!visible}}>
      <table style="border: 0px;">
        <tr>
          <td style="border-bottom: 0px;">
            <h1>Detalles de la cuenta de valores</h1>
          </td>
          <td style="border-bottom: 0px; padding: 1px 0px 1px 1px; text-align: right;">
            <button on-click="volverListaCuentas">Volver a posición global</button>
          </td>
        </tr>
      </table>
      <table>
      <thead>
      </thead>
      <tbody>
      <!-- Muestra el array cuentas de valores que es una propiedad de la clase de abajo-->
        <tr>
          <td class="cuenta" colspan=4>{{datoscta.detallectaval.codigo}}</td>
        </tr>
        <tr>
          <th class="table_header">Valor</th>
          <th class="table_header">Descripción valor</th>
          <th class="table_header">Títulos</th>
          <th class="table_header">Importe</th>
        </tr>
        <tr>
          <td class="ticker_estrecho">{{datoscta.detallectaval.ticker_valor}}</td>
          <td class="ticker">{{datoscta.detallectaval.desc_valor}}</td>
          <td class="ticker_estrecho">{{datoscta.detallectaval.num_titulos}}</td>
          <td class="ticker_estrecho">{{importe}} €</td>
        </tr>
      </tbody>
      </table>

      <div class = "center-div">
        <!-- rows='[ ["Jan", 31],["Feb", 28],["Mar", 31] ]'> -->
        <google-chart
          id='chart'
          type='line'
          options='{"title": "Distribution of days in 2001Q1"}'
          cols='[{"label":"Month", "type":"string"}, {"label":"Days", "type":"number"}]'
          rows='[ ]'>
        </google-chart>
      </div>
    </div>
  </template>

  <script>
    /**
     * `visor-cuentas`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyVisorctavalores extends Polymer.Element {
      static get is() { return 'my-visorctavalores'; }
      static get properties() {
        return {
          datoscta: {
            type: Object,
            observer: '_detallesCtaValores',
          },
          importe: {
            type: Number
          },
          // No hacer visible el contenido de la página hasta que vuelva
          // la llamada iron-ajax
          visible:{
            type: Boolean,
            default: false
          },
          urlironajax:{
            type:String
          }

        };
      }
      // Para enviar a la API
      unAnyoAtras() {
        //// Fecha de hoy
        var f = new Date()
        var day = f.getDate()
        day = ("0"+day).slice(-2)
        var mon = (f.getMonth() +1)
        mon = ("0"+mon).slice(-2)
        return (f.getFullYear() - 1 + "/" + mon + "/" + day)
      }
      /*
      Observer para la propiedad principal, cada vez que cambie desde el padre se lanza
      */
      _detallesCtaValores(){
          // Invisible hasta que la llamada al logout devuelva algo
          this.visible = false
          console.log ("_isVisible(b) starts. this.visible:", this.visible)
          // Llamamos al Iron-ajax de obtener movimientos
          // id del Iron ajax => "obtenerCuentas"
          this.$.obtenerDetalleCtaValores.headers.idcliente = this.datoscta.idcliente
          this.$.obtenerDetalleCtaValores.headers.ticker = this.datoscta.detallectaval.ticker_valor
          // Cambiar calculo de fecha a un año antes de ahora
          this.$.obtenerDetalleCtaValores.headers.fecha_desde = this.unAnyoAtras()
          console.log("this.datoscta -> ", this.datoscta)
          console.log("this.$.obtenerDetalleCtaValores.headers -> ", this.$.obtenerDetalleCtaValores.headers)
          console.log ("my-visorctavalores - this.urlironajax -> ",this.urlironajax)
          this.$.obtenerDetalleCtaValores.generateRequest()
      }


      mostrarDetalleCtaValores (resultado){
          // Hacemos visible el contenido del componente
          this.visible = true
          console.log("mostrarDetalleCtaValores. resultado.detail.response ->", resultado.detail.response)
          // Mostrar el importe, que no viene del padre, sino de esta llamada
          //this.importe = parseFloat(resultado.detail.response.importe).toFixed(2)
          this.importe = resultado.detail.response.importe

          // intentamos hacer un efecto de animacion chulo de verdad, mostrando primero una linea plana
          // en la media, sin animacion, y luego animando

          var newArr = []
          var total = 0
          var media = 0
          var i = 0
          for (i = 0; i < resultado.detail.response.serie_historica.length; i++) {
            total += resultado.detail.response.serie_historica[i][1]
          }

          media = total / i

          for (i = 0; i < resultado.detail.response.serie_historica.length; i++) {
            resultado.detail.response.serie_historica[i][2] = media
          }

          var chart_options =  {"title": "("+ resultado.detail.response.ticker_valor+") " + resultado.detail.response.desc_valor,
                                "titleTextStyle": { color: "black", fontSize: 16},
                                "legend": {position: "right", textStyle: {color: "blue", fontSize: 14}},
                                "width":1000,
                                "hAxis": {showTextEvery:30}
                              }

          this.$.chart.options = chart_options
          this.$.chart.cols = [{"label":"Día", "type":"string"}, {"label":"Precio", "type":"number"}, {"label":"Media", "type":"number"}]
          this.$.chart.rows = this.$.chart.rows = resultado.detail.response.serie_historica
          this.$.chart.redraw()

          // Y ahora con animacion (lo descartamos porque es complicado lograr una animacion suave)
          /*
          chart_options =  {"title": "("+ resultado.detail.response.ticker_valor+") " + resultado.detail.response.desc_valor,
                                "titleTextStyle": { color: "black", fontSize: 16},
                                "legend": {position: "right", textStyle: {color: "blue", fontSize: 14}},
                                "width":1000,
                                "animation": {duration: 1000, easing: "out", startup: false},
                                "hAxis": {showTextEvery:30}
                              }

          this.$.chart.options = chart_options

          //this.$.chart.cols = [{"label":"Día", "type":"string"}, {"label":"Precio", "type":"number"}]
          //this.$.month.rows = [ ["21/03/2018", 31],["22/03/2018", 28],["23/03/2018", 31],["24/03/2018", 33] ]
          this.$.chart.rows = resultado.detail.response.serie_historica
          this.$.chart.redraw()
          */
      }

      mostrarDetalleCtaValoresError (error) {
          console.log(error.detail.response)
      }

      volverListaCuentas (e){
        // Mando un evento a front-practitionerapp.html que lance el componente
        // que muestra cuentas.
        this.dispatchEvent(new CustomEvent('volvercuentas',{"detail":{"foo":0}}))
      }

    }
    window.customElements.define(MyVisorctavalores.is, MyVisorctavalores);
  </script>
</dom-module>
