<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<!-- bucle de polymer-->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="my-visormovimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .table_header {
        padding: 20px 1px 20px 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 24px;
        text-align: left;
      }
      .movimiento{
        padding: 1px 1px 1px 20px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: #04408f;
        text-align: left;
      }
      .movimiento_estrecho{
        width: 20%;
        padding: 1px 1px 1px 20px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: #04408f;
        text-align: left;
      }
      .descr_movimiento {
        padding: 1px 1px 1px 20px;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: black;
        text-align: left;
      }
      tr.cabecera:hover {
        background-color: transparent;
      }
    </style>

    <iron-ajax
      id="obtenerMovimientos"
      url="{{urlironajax}}"
      handle-as="json"
      on-response="mostrarMovimientos"
      on-error="mostrarErrorMovimientos">
    </iron-ajax>


    <!-- Bucle polymer dentro de una tabla -->
    <!-- -->
    <div class="card"  hidden$={{!visible}}>
      <table style="border: 0px;">
        <tr class="cabecera">
          <td style="border-bottom: 0px;">
            <h1>Movimientos de la cuenta: [[iban]]</h1>
          </td>
          <td  style="border-bottom: 0px; padding: 1px 0px 1px 1px; text-align: right;">
            <button on-click="volverListaCuentas">Volver a posición global</button>
          </td>
        </tr>

      </table>
      <!--
      <div class="boton_volver">
      </div>
      -->
      <div style="overflow-x:auto;">
        <table>
        <thead>
          <th class="table_header">Fecha</th>
          <th class="table_header">Descripción</th>
          <th class="table_header">Importe</th>
          <th class="table_header">Moneda</th>
        </thead>
        <tbody>
        <!-- Muestra el array cuentas que es un metodo de  la clase de abajo-->
        <template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td class="movimiento_estrecho">{{item.fecha}}</td>
            <td class="descr_movimiento">{{item.descr}}</td>
            <td class="movimiento_estrecho">{{item.importe}}</td>
            <td class="movimiento_estrecho">{{item.moneda}}</td>
          </tr>
        </template>
      </tbody>
      </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * `visor-cuentas`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyVisormovimientos extends Polymer.Element {
      static get is() { return 'my-visormovimientos'; }
      static get properties() {
        return {
          iban: {
            type: String,
            observer: '_buscarMovimientos',
          },
          // Array de movimvientos del cliente
          movimientos: {
            type: Array
          },
          // No hacer visible el contenido de la página hasta que vuelva
          // la llamada iron-ajax
          visible:{
            type: Boolean,
            default: false
          },
          urlironajax:{
            type:String
          }
        };
      }
      // Usamos el método del ciclo de vida connectedCallback para
      // mostrar los movimientos. Se lanza al mostrarse el componente
      /*
      connectedCallback() {

        la primera vez se dispara el connected connectedCallback
        Las siguientes, un observer sobre la propiedad "visible"
        (el observer no funciona la primera vez)

        super.connectedCallback();
        // Llamamos al Iron-ajax de obtener movimientos
        // id del Iron ajax => "obtenerCuentas"
        this.$.obtenerMovimientos.headers.iban = this.iban
        console.log ("connectedCallback starts. iban:", this.iban)
        this.$.obtenerMovimientos.generateRequest()
      }
      */
      /*
      Observer para la propiedad "iban", cada vez que cambie desde el padre se lanza
      */
      _buscarMovimientos(){
          // Invisible hasta que la llamada al logout devuelva algo
          this.visible = false
          console.log ("_isVisible(b) starts. this.visible:", this.visible)
          // Llamamos al Iron-ajax de obtener movimientos
          // id del Iron ajax => "obtenerCuentas"
          this.$.obtenerMovimientos.headers.iban = this.iban
          console.log ("my-visormovimientos - this.urlironajax ->",this.urlironajax)
          console.log ("IBAN:", this.iban)
          this.$.obtenerMovimientos.generateRequest()
      }

      mostrarMovimientos (resultado){
          // Lo que devueve la API era un poco complicado
          // Hacemos visible el contenido del componente
          this.visible = true
          console.log("resultado.detail.response", resultado.detail.response)
          var movimientos = resultado.detail.response[0].movimientos
          for (var i = 0; i < resultado.detail.response[0].movimientos.length; i++) {
            resultado.detail.response[0].movimientos[i].importe = parseFloat(resultado.detail.response[0].movimientos[i].importe).toLocaleString("es-ES")
          }
          this.movimientos = movimientos
          console.log("Movimientos", this.movimientos)
      }
      mostrarErrorMovimientos (error) {
          console.log(error.detail.response)
      }
      volverListaCuentas (e){
        // Mando un evento a front-practitionerapp.html que lance el componente
        // que muestra cuentas.
        this.dispatchEvent(new CustomEvent('volvercuentas',{"detail":{"foo":0}}))
      }

    }
    window.customElements.define(MyVisormovimientos.is, MyVisormovimientos);
  </script>
</dom-module>
