<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>

       @import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans');

      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-family: 'Abel', Tahoma, sans-serif;
        font-size: 34px;
      }

      h2 {
        margin: 16px 0;
        color: #212121;
        font-family: 'Abel', Tahoma, sans-serif;
        font-size: 26px;
      }

      table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
      }

      th {
         font-size: 24px;
         text-align: left;
         font-family: 'Open Sans', sans-serif;
         padding: 1px 1px 1px 1px;
         color: #666666;
         background-color: #dddfe2;
         border-bottom: 1pt solid  #ddd;
      }

      td {
          text-align: left;
          padding: 1px 1px 1px 1px;
          border-bottom: 1px solid #ddd;
          height: 50px;
      }

      tr:hover {
        background-color: #f9f9f9;
      }


      /*
      tr:nth-child(even){
        background-color: #f2f2f2
      }
      */

      input {
        -webkit-border-radius: 3px;
      	-moz-border-radius: 3px;
      	-ms-border-radius: 3px;
      	-o-border-radius: 3px;
      	border-radius: 3px;
      	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
      	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
      	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
      	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
      	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
      	-webkit-transition: all 0.5s ease;
      	-moz-transition: all 0.5s ease;
      	-ms-transition: all 0.5s ease;
      	-o-transition: all 0.5s ease;
      	transition: all 0.5s ease;
      	background: #eae7e7 /*url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat*/;
      	border: 1px solid #c8c8c8;
      	color: #04408f;
      	font: 16px 'Open Sans', sans-serif;
        /*font-family: 'Open Sans', sans-serif;*/
      	margin: 0 0 10px;
      	padding: 15px 10px 15px 40px;
      }

      input:focus{
        -webkit-box-shadow: 0 0 2px #04408f inset;
        -moz-box-shadow: 0 0 2px #04408f inset;
        -ms-box-shadow: 0 0 2px #04408f inset;
        -o-box-shadow: 0 0 2px #04408f inset;
        box-shadow: 0 0 2px #04408f inset;
        background-color: #fff;
        border: 1px solid #04408f;
        outline: none;
      }

      button {
        background: #0072C9;
        background: -moz-linear-gradient(top,  rgba(4,64,143,1) 0%, rgba(0,101,183,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(4,64,143,1) 0%, rgba(0,101,183,1) 100%);
        background: -o-linear-gradient(top,  rgba(4,64,143,1) 0%, rgba(0,101,183,1) 100%);
        background: -ms-linear-gradient(top,  rgba(4,64,143,1) 0%, rgba(0,101,183,1) 100%);
        background: linear-gradient(top,  rgba(4,64,143,1) 0%, rgba(0,101,183,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0072c9', endColorstr='#04408f',GradientType=0 );
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
        -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
        -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
        -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
        box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
        border: 1px solid #04408f;
        color: #ffffff;
        cursor: pointer;
        font: bold 15px Helvetica, Arial, sans-serif;
        height: 35px;
        /*margin: 20px 0 35px 15px;*/
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);
      }
      button:hover{
        background: rgb(82,188,236);
        background: -moz-linear-gradient(top,  rgba(82,188,236,1) 0%, rgba(0,101,183,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(82,188,236,1) 0%, rgba(0,101,183,1) 100%);
        background: -o-linear-gradient(top,  rgba(82,188,236,1) 0%, rgba(0,101,183,1) 100%);
        background: -ms-linear-gradient(top,  rgba(82,188,236,1) 0%, rgba(0,101,183,1) 100%);
        background: linear-gradient(top,  rgba(82,188,236,1) 0%, rgba(0,101,183,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52BCEC', endColorstr='#0072C9',GradientType=0 );
      }

      button:focus{
        outline-style: none;
      }


    </style>
  </template>
</dom-module>
